.page-header
  %h1
    = "ホットな授業"
%ol#hot
  - @hots.each do |e|
    %li
      ="<span class=\"hotTitle\">#{h e.title} (#{h e.instructor})</span><br>#{h sprintf("%.3f",e.odds)}倍 ,希望者#{h e.applicants}人,受け入れ予定数#{h e.limit}人"
#tbox
%p
  %a{:href=>'/'} もどる
